EBank_Client/xml-resources/web-service-references/EBankEmployee_WS/wsdl/localhost_29070/EBankEmployee_WS/EBankEmployee_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ebankEmployee_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ebankEmployee_ws/" name="EBankEmployee_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://ebankEmployee_ws/" schemaLocation="http://localhost:29070/EBankEmployee_WS/EBankEmployee_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="checkAvailability">
<part name="parameters" element="tns:checkAvailability"/>
</message>
<message name="checkAvailabilityResponse">
<part name="parameters" element="tns:checkAvailabilityResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="displayEmployees">
<part name="parameters" element="tns:displayEmployees"/>
</message>
<message name="displayEmployeesResponse">
<part name="parameters" element="tns:displayEmployeesResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<message name="selectEmployee">
<part name="parameters" element="tns:selectEmployee"/>
</message>
<message name="selectEmployeeResponse">
<part name="parameters" element="tns:selectEmployeeResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<portType name="EBankEmployee_WS">
<operation name="logout">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="checkAvailability">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/checkAvailabilityRequest" message="tns:checkAvailability"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/checkAvailabilityResponse" message="tns:checkAvailabilityResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/checkAvailability/Fault/Exception"/>
</operation>
<operation name="login">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/loginResponse" message="tns:loginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/login/Fault/Exception"/>
</operation>
<operation name="displayEmployees">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/displayEmployeesRequest" message="tns:displayEmployees"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/displayEmployeesResponse" message="tns:displayEmployeesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/displayEmployees/Fault/Exception"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/editEmployeeResponse" message="tns:editEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/editEmployee/Fault/Exception"/>
</operation>
<operation name="selectEmployee">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/selectEmployeeRequest" message="tns:selectEmployee"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/selectEmployeeResponse" message="tns:selectEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/selectEmployee/Fault/Exception"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/deleteEmployee/Fault/Exception"/>
</operation>
<operation name="createEmployee">
<input wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/createEmployeeResponse" message="tns:createEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankEmployee_ws/EBankEmployee_WS/createEmployee/Fault/Exception"/>
</operation>
</portType>
<binding name="EBankEmployee_WSPortBinding" type="tns:EBankEmployee_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAvailability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="displayEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="selectEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="EBankEmployee_WS">
<port name="EBankEmployee_WSPort" binding="tns:EBankEmployee_WSPortBinding">
<soap:address location="http://localhost:29070/EBankEmployee_WS/EBankEmployee_WS"/>
</port>
</service>
</definitions>