EBank_Client/xml-resources/web-service-references/EBankCustomer_WS/wsdl/localhost_29070/EBankCustomer_WS/EBankCustomer_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ebankCustomer_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ebankCustomer_ws/" name="EBankCustomer_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://ebankCustomer_ws/" schemaLocation="http://localhost:29070/EBankCustomer_WS/EBankCustomer_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="checkAvailability">
<part name="parameters" element="tns:checkAvailability"/>
</message>
<message name="checkAvailabilityResponse">
<part name="parameters" element="tns:checkAvailabilityResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="selectCustomer">
<part name="parameters" element="tns:selectCustomer"/>
</message>
<message name="selectCustomerResponse">
<part name="parameters" element="tns:selectCustomerResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="editCustomer">
<part name="parameters" element="tns:editCustomer"/>
</message>
<message name="editCustomerResponse">
<part name="parameters" element="tns:editCustomerResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="displayCustomer">
<part name="parameters" element="tns:displayCustomer"/>
</message>
<message name="displayCustomerResponse">
<part name="parameters" element="tns:displayCustomerResponse"/>
</message>
<portType name="EBankCustomer_WS">
<operation name="checkAvailability">
<input wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/checkAvailabilityRequest" message="tns:checkAvailability"/>
<output wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/checkAvailabilityResponse" message="tns:checkAvailabilityResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/checkAvailability/Fault/Exception"/>
</operation>
<operation name="selectCustomer">
<input wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/selectCustomerRequest" message="tns:selectCustomer"/>
<output wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/selectCustomerResponse" message="tns:selectCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/selectCustomer/Fault/Exception"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/createCustomerResponse" message="tns:createCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/createCustomer/Fault/Exception"/>
</operation>
<operation name="editCustomer">
<input wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/editCustomerRequest" message="tns:editCustomer"/>
<output wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/editCustomerResponse" message="tns:editCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/editCustomer/Fault/Exception"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/deleteCustomer/Fault/Exception"/>
</operation>
<operation name="displayCustomer">
<input wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/displayCustomerRequest" message="tns:displayCustomer"/>
<output wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/displayCustomerResponse" message="tns:displayCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ebankCustomer_ws/EBankCustomer_WS/displayCustomer/Fault/Exception"/>
</operation>
</portType>
<binding name="EBankCustomer_WSPortBinding" type="tns:EBankCustomer_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkAvailability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="selectCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="displayCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="EBankCustomer_WS">
<port name="EBankCustomer_WSPort" binding="tns:EBankCustomer_WSPortBinding">
<soap:address location="http://localhost:29070/EBankCustomer_WS/EBankCustomer_WS"/>
</port>
</service>
</definitions>