EBank_Client/xml-resources/web-service-references/EBankCustomer_WS/wsdl/localhost_29070/EBankCustomer_WS/EBankCustomer_WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ebankCustomer_ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ebankCustomer_ws/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="checkAvailability" type="tns:checkAvailability"/>

<xs:element name="checkAvailabilityResponse" type="tns:checkAvailabilityResponse"/>

<xs:element name="createCustomer" type="tns:createCustomer"/>

<xs:element name="createCustomerResponse" type="tns:createCustomerResponse"/>

<xs:element name="deleteCustomer" type="tns:deleteCustomer"/>

<xs:element name="deleteCustomerResponse" type="tns:deleteCustomerResponse"/>

<xs:element name="displayCustomer" type="tns:displayCustomer"/>

<xs:element name="displayCustomerResponse" type="tns:displayCustomerResponse"/>

<xs:element name="editCustomer" type="tns:editCustomer"/>

<xs:element name="editCustomerResponse" type="tns:editCustomerResponse"/>

<xs:element name="selectCustomer" type="tns:selectCustomer"/>

<xs:element name="selectCustomerResponse" type="tns:selectCustomerResponse"/>

<xs:complexType name="selectCustomer">
<xs:sequence>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomer">
<xs:sequence>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAvailability">
<xs:sequence>
<xs:element name="field" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="table" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAvailabilityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCustomer">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="birthDate" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="xs:string" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="sortCode" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:double"/>
<xs:element name="card" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayCustomer">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="displayCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCustomer">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="birthDate" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="xs:string" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="sortCode" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:double"/>
<xs:element name="card" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>